#------------------------------------------------------------------
# ex : imageRegistry=172.22.11.2:30500
# ex : helmApiServerVersion=test
#------------------------------------------------------------------

#image registry
imageRegistry=docker.io

#helmApiServerVersion
helmApiServerVersion=0.0.0

#storageclass name
scName=local-path